<ion-app>

  <ion-split-pane contentId="main-content" *ngIf="isAuth; else loggedOut">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            {{ user_data.fullname || 'USER' }}
          </ion-list-header>
          <ion-note>
            {{ user_data.email || 'hi&#64;ionicframework.com' }}
          </ion-note>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of navLinks; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-button class="ion-padding" (click)="logout()">
            Logout
          </ion-button>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <ng-template #loggedOut>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </ng-template>

</ion-app>
